$footer-navigation-height: 100% !default;
$footer-navigation-off-opacity: 0.4px !default;
$navigation-item-max-width: 150px !default;
$footer-navigation-height: 49px !default;
$footer-navigation-text-font-size: 14px !default;
$footer-navigation-text-font-size-side-icon: 10px !default;
$footer-navigation-icon-size: 32px !default;
$footer-navigation-badge-padding: 1px 6px !default;
$footer-navigation-badge-font-size: 12px !default;